$colors: (
    common: (
        white: #ffffff,
        black: #111F2C,
    ),
    heading: (
        primary: #111F2C,
    ),
    grey: (
        1:#f7f7f7,
        2:#F5F6F8,

    ),
    text: (
        body:#777777,
        p:#777777,
    ),
    theme: (
        1: #111F2C,

    ),
    border: (
        1: #000,
    )
);
